h1{
	background: #D2EFE2;
	font-size: 150%;
	text-align: center;
}

nav{
	font-size: 125%;
	font-family: "Comic Sans MS", Serif;
}

h2{
	color: #623114;
	font-family: "Times New Roman";
	font-variant: small-caps;
}